form {
    border: 1px solid white;
    border-radius: .5em;
    padding: 1em;
    width: 40vw;
    height: max-content;
    margin-bottom: 15px;
}

fieldset {
    border: 0;
}

.GeneralInfo {
    margin-bottom: 40px;
}

.NameFields,
.ContactFields {
    display: flex;
    justify-content: space-evenly;
    /* width: 100vh; */
}

.NameFields div,
.ContactFields div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

input {
    box-sizing: border-box;
    border: 1px solid #999;
    margin-left: 10px;
}